@charset "UTF-8";

@font-face{ 
	font-family:'NotoSans'; 
	src: url('../../_custom/font/NotoSans-Regular.ttf') format('truetype');
	font-weight: normal; font-style: normal;
}

/* Common Style */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
	font-family: 'NotoSans' !important;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-y: auto;
	overflow-x: auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* IE에서 input박스에 x표시 안보이게 */
input::-ms-clear{
	display: none;
	width: 0;
	height: 0;
}


html, body {
	height: 100%;
}

header {
	background-color:lightgray;
	height:76px;
}
nav {
	background-color:#339999;
	color:#9D8A69;
	width:0px;
	/* height:300px; */
	height: -moz-calc(100% - (76px + 0px)); /* header + footer */
	height: -webkit-calc(100% - (76px + 0px));
	height: calc(100% - (76px + 0px));
	float:left;
}
section {
	/* width:200px; */
	width: -moz-calc(100% - (0px + 0px)); /* nav + padding */
	width: -webkit-calc(100% - (0px + 0px));
	width: calc(100% - (0px + 0px));
	height: -moz-calc(100% - (106px + 0px + 0px)); /* header + footer + padding */
	height: -webkit-calc(100% - (106px + 0px + 0px));
	height: calc(100% - (106px + 0px + 0px));
	text-align: left;
	float: left;
	padding: 0px;
}
footer {
	/* background-color:#FFCCDD; */
	background: rgba(180, 181, 181, 1);
	/* height:31px; */
	height:0px;
	clear:both;
}
header, nav, section, footer {text-align:left;}
/* header, footer {line-height:100px;} */
/* nav, section {line-height:240px;} */
