@charset "UTF-8";

.wrap {width:100%; height:100%; min-width:1280px; min-height:768px; overflow:hidden; background:#FAFAFA; position: absolute;}

/* Site Layout Style */

header .header_bg{height: 42px; width: 100%; background: #21201E;}
header .header_menu{height: 34px; width: 100%; background: #7B6D5D;}
header h1{position: absolute; top: 0px; left:20px; margin: 8px 0px 0px 0px; z-index:999}

header ul {list-style:none; padding-left:0px;}
header .header_wrap{position: static; width: 100%; height: 42px; z-index: 998;}
header .gnb {position: relative; margin-left: 240px; height: 22px;}
header .gnb .log_info {position: relative; float: right; margin-right: 35px; margin-top:4px;}
header .gnb li {float: left; margin-left: 10px;}

header .gnb_navi {position:relative; float:left; margin-top:16px;}
header .gnb_navi ul li {float:left; display:inline; padding:0px 7px; text-decoration:none; margin:0; font-size:12px; color:rgba(239, 235, 220, 1);}
header .gnb_navi ul li:last-child {background:none;}
header .gnb_navi ul li:hover {color: #f79a0e;}

/* header .gnb_navi ul li a:hover {} */

header .log_info ul li {color:rgba(239, 235, 220, 1); font-size:12px; margin-top: 12px;}
/* 상단 메뉴 영역 */
header .gnb_menu {position: relative; margin-left: 125px;height: 34px;}
header .gnb_menu_navi {position:relative; float:left; margin-top:9px;}
header .gnb_menu_navi > ul > li {float:left; display:inline; padding:0px 50px; text-decoration:none; margin:0; font-size:15px; color:rgba(239, 235, 220, 1);}
header .gnb_menu_navi > ul > li > span {cursor: pointer;}
header .gnb_menu_navi > ul > li > span:hover {color: #f79a0e;}
header .gnb_menu_navi .gnb_menu_box { position: absolute; top: 25px; background-color: #fff; border: 2px solid #DEE2E5; border-top:0px; padding: 0px 10px 10px 10px;
    width: 300px; height: 260px; overflow: auto; color: #000; z-index: 9999;}
header .gnb_menu_navi .gnb_menu_box > ul > li[isFolder="false"] { font-weight: normal; cursor: pointer; margin: 7px 0px;}
header .gnb_menu_navi .gnb_menu_box > ul > li[isFolder="false"]:hover { font-weight: 900;}
header .gnb_menu_navi .gnb_menu_box > ul > li[report-struct="n"] { color: rgb(21,155,152) !important; }
header .gnb_menu_navi .gnb_menu_box .list_show > img { margin-right: 10px; cursor: pointer;}
header .gnb_menu_navi .gnb_menu_box .list_hide > img { margin-right: 10px; cursor: pointer;}
header .gnb_menu_navi .gnb_menu_box .list_show[isFolder="true"] {font-weight: bold; padding-top: 5px; }
header .gnb_menu_navi .gnb_menu_box .list_hide[isFolder="true"] {font-weight: bold; padding-top: 5px; }
header .gnb_menu_navi .gnb_menu_box .list_show .reportList_wrapper > li {margin: 7px 0px;}
header .gnb_menu_navi .gnb_menu_box .list_show .reportList_wrapper > li[isFolder="false"] {font-weight: normal; cursor: pointer; list-style: disc; }
header .gnb_menu_navi .gnb_menu_box .list_show .reportList_wrapper > li[isFolder="false"]:hover { font-weight: 900; color: #7B6D5D; }
/* header .gnb_menu_navi .gnb_menu_box .list_show .reportList_wrapper > li[isFolder="false"]:before{content: " - ";} */
header .gnb_menu_navi .gnb_menu_box .list_show .reportList_wrapper > li[report-struct="n"] { color: rgb(21,155,152) !important; }

.header_subMenu { height: 30px; font-size: 12px; color: #fff; display: inline-block; float: right;}
.header_subMenu ul {float: right; margin: 16px 10px 0px 0px;}
.header_subMenu ul li {display: inline; cursor: pointer;}
.header_subMenu ul li:hover { font-weight: 900; color: #f79a0e; }

/* Custom Report&Prompt */
section #MainLayer {height: 100%; }
section #MainLayer .dashBoardWrapper { height: 63%; padding: 0px 10px 0px 10px;}
section #MainLayer .dashBoardWrapper iframe {border: 1px solid #DEE2E5;}
section #MainLayer .myLookupReportWrapper { display: inline-block; width: 49%; margin: 10px 0px 0px 10px; height: 38%;}
section #MainLayer .noticeBoardWrapper { display: inline-block; width: 48%; margin-top: 10px; height: 38%; }
section #MainLayer .LookupContainer {width: 92%; padding: 10px 20px 10px 20px; height: 80%; background-color: #fff; border: 1px solid #DEE2E5;}
section #MainLayer .LookupTabs {margin: 0; padding: 0; float: left; list-style: none; height: 36px; width: 100%; }
section #MainLayer .LookupTabs li {float: left; cursor:pointer; font-size:12px; margin: 0; padding: 10px 10px 0px 10px; height: 25px; border: 1px solid #DEE2E5; border-left: none; 
						font-weight : bold;	border-radius : 5px 5px 0px 0px; margin-bottom: -1px; overflow: hidden; position: relative; background: #EDEDED; color: #AFAFAE;
						width: 100px; text-align: center;}
section #MainLayer .LookupTab_container{ overflow: hidden; clear: both; float: left; width: 100%; height:80%; background: #fff;}
section #MainLayer .LookupTabs .active{background: #7B6D5D; font-weight: bolder; color: #fff;}
section #MainLayer .LookupTab_container #LookupCurrentTab {height: 100%; overflow-y: auto; }
section #MainLayer .LookupTab_container .recentListTbl {width: 100%; font-size: 14px;}
section #MainLayer .LookupTab_container .recentListTbl > thead > tr {height: 40px; font-weight: bold;}
section #MainLayer .LookupTab_container .recentListTbl > thead > tr > th {vertical-align: middle; border: 1px solid #DEE2E5; background: #FAFAFA;}
section #MainLayer .LookupTab_container .recentListTbl > thead > tr > th:first-child {width: 70px; text-align: center;}
section #MainLayer .LookupTab_container .recentListTbl > thead > tr > th:last-child { padding-left: 20px;}
section #MainLayer .LookupTab_container .recentTblBody tr {height: 24px; cursor: pointer; border: 1px solid #DEE2E5;}
section #MainLayer .LookupTab_container .recentTblBody tr:hover { background: #f2f2f2; font-weight: bold;}
section #MainLayer .LookupTab_container .recentTblBody td { vertical-align: middle; }
section #MainLayer .LookupTab_container .recentTblBody td:first-child {text-align: center;}
section #MainLayer .LookupTab_container .recentTblBody td:last-child { padding-left: 20px;}
section #MainLayer .LookupTab_container #LookupMostTab {height: 100%; overflow-y: auto; }
section #MainLayer .LookupTab_container .mostListTbl {width: 100%; font-size: 14px;}
section #MainLayer .LookupTab_container .mostListTbl > thead > tr {height: 40px; font-weight: bold;}
section #MainLayer .LookupTab_container .mostListTbl > thead > tr > th {vertical-align: middle; border: 1px solid #DEE2E5; background: #FAFAFA;}
section #MainLayer .LookupTab_container .mostListTbl > thead > tr > th:first-child {width: 70px; text-align: center;}
section #MainLayer .LookupTab_container .mostListTbl > thead > tr > th:last-child { padding-left: 20px;}
section #MainLayer .LookupTab_container .mostTblBody tr {height: 24px; cursor: pointer; border: 1px solid #DEE2E5;}
section #MainLayer .LookupTab_container .mostTblBody tr:hover { background: #f2f2f2; font-weight: bold;}
section #MainLayer .LookupTab_container .mostTblBody td { vertical-align: middle; }
section #MainLayer .LookupTab_container .mostTblBody td:first-child {text-align: center;}
section #MainLayer .LookupTab_container .mostTblBody td:last-child { padding-left: 20px;}
section #MainLayer .noticeContainer {width: 97%; padding: 10px 20px 10px 20px; height: 80%;  background-color: #fff; border: 1px solid #DEE2E5; }
section #MainLayer .noticeList_container {width: 100%; margin: 25px 0px 0px 0px; height: 85%; background-color: #fff; }
section #MainLayer .noticeList_container .noticeListTbl { width: 100%; }
section #MainLayer .noticeList_container .noticeListTbl thead { height: 40px; font-weight: bold; }
section #MainLayer .noticeList_container .noticeListTbl thead > tr > th {vertical-align: middle; border: 1px solid #DEE2E5; background: #FAFAFA;}
section #MainLayer .noticeList_container .noticeListTbl thead > tr > th:first-child { padding-left: 20px;}
section #MainLayer .noticeList_container .noticeListTbl thead > tr > th:last-child { width: 130px; text-align: center;}
section #MainLayer .noticeList_container .noticeListTblBody tr {height: 25px; cursor: pointer; border: 1px solid #DEE2E5;}
section #MainLayer .noticeList_container .noticeListTblBody tr > td {vertical-align: middle;}
section #MainLayer .noticeList_container .noticeListTblBody tr:hover {background: #f2f2f2; font-weight: bold;}
section #MainLayer .noticeList_container .noticeListTblBody tr > td:first-child {padding-left: 20px;}
section #MainLayer .noticeList_container .noticeListTblBody tr > td:nth-child(2) {text-align: center; width: 130px;}
section #MainLayer .noticeContainer #noticeListBtn:hover { font-weight: bold; }

section #ReportLayer {height: 100%; background-color: #fff;}
section .reportInfo {width:calc(100% - (4px + 4px)); height:30px; text-align: left; margin:4px 4px 4px 4px; display:table-cell; vertical-align:middle; padding-left:20px;}
section .reportInfo #reportInfoWrapper {display:inline-block; margin-top:inherit;}
section .reportInfo #reportInfoWrapper #report_title { font-size: 16px; font-weight: bold; margin-right: 10px;}
section .reportInfo #reportInfoWrapper #report_path { font-size: 11px; margin-top: 5px;}
section .reportInfo #reportInfoWrapper #report_radio { margin-top: 10px; font-size: 13px;}
section .reportInfo #reportInfoWrapper #report_radio > input[type='radio'] {width: 12px; height: 12px; margin-left: 25px;}
section .reportInfo #reportInfoWrapper #report_radio > input[type='radio']:first-child {margin-left: 0px !important;}
section .reportInfo #btnReportBookmark_default {vertical-align:bottom; cursor: pointer;}
section .reportInfo #btnReportBookmark_active {vertical-align:bottom; cursor: pointer;}
section .promptArea {width:calc(100% - 30px); height:auto; text-align: left; margin:8px 4px 0px 4px; font-size : 12px;
					border: 1px solid #d3d3d3; padding: 10px; background: #efefef; border-radius: 5px;}
section .elemWrapper { width: 100%; }
section .elemWrapper tr {height: 38px;}
section .elemWrapper .elemLabel { margin-right: 10px; }
section .elemWrapper .elemLabel > span { width: 100px; display: inline-block; text-align: center;}
section .promptArea #run-wrapper { text-align: center; vertical-align: middle; }
section .promptArea #run-wrapper #report-run { cursor: pointer; display: inline-block; padding: 12px; background: rgba(102, 84, 54, 100); border-radius: 5px;
    									color: #fff; }
section .promptArea #run-wrapper #report-run:hover {color: #f79a0e;}
section .promptToggleBtn {width:calc(100% - (4px + 4px)); height:16px; text-align: center; margin:0px 4px 4px 4px; }
section .promptToggleBtn #toggle_btn { display: inline-block; width: 30px; height: 17px; border: 1px solid;  cursor: pointer; border-top:#eee; }
section .reportArea {width:calc(100% - (4px + 4px)); height:calc(100% - 105px); text-align: left; margin:4px 4px 4px 4px;} /* title(magn) + prompt(magn) + toggle(magn) */

section #MenuLayer {height: 100%; background-color: #fff;}
section #MenuLayer .report_searchWraaper{display: flex; width:100%; justify-content:flex-end; padding: 10px 0px 15px 0px; align-items: center; border-bottom: 1px solid #b0b0b0;}
section #MenuLayer .report_searchWraaper span{font-size: 16px; font-weight: bold; margin-right: 10px;}
section #MenuLayer .report_searchWraaper img{position: relative; right: 25px; width: 22px; height: 22px; cursor: pointer;}
section #MenuLayer #inputReportObjectSearchText {height: 25px; width: 200px; outline: none; padding: 0px 25px 0px 10px;}
section #MenuLayer .allmenu_wrapper { width: 100%; height: 92%; display: flex; flex-wrap: wrap; justify-content: center;}
section #MenuLayer .allmenu_wrapper > div { width: 30%; height: 40%; margin: 20px;}
section #MenuLayer .allmenu_wrapper span { font-size: 16px; display: inline-block; width: 100%; height: 25px; text-align: center; background: #7B6D5D;
										color: #fff; padding-top: 8px; border-radius: 5px 5px 0px 0px;}
section #MenuLayer .allmenu_wrapper > div > div { padding: 5px 15px 15px 15px; height: 92%; overflow-y: auto; border: 2px solid #DEE2E5; border-top: 0px; }
/* 메뉴 중분류(2Lv - 리포트 목록 or 폴더  */
section #MenuLayer .allmenu_wrapper > div > div li {list-style: none; margin-top: 10px;}
section #MenuLayer .allmenu_wrapper > div > div .list_hide[isFolder="true"] {font-weight: bold; }
section #MenuLayer .allmenu_wrapper > div > div .list_show[isFolder="true"] {font-weight: bold; }
section #MenuLayer .allmenu_wrapper > div > div .list_hide img {cursor: pointer; margin-right: 5px;}
section #MenuLayer .allmenu_wrapper > div > div .list_show img { cursor: pointer; margin-right:5px;}
section #MenuLayer .allmenu_wrapper > div > div li[isFolder="false"] { cursor: pointer;}
section #MenuLayer .allmenu_wrapper > div > div li[isFolder="false"]:hover { font-weight: 900; color: #7B6D5D; } 
section #MenuLayer .allmenu_wrapper > div > div li[report-struct="n"] { color: rgb(21,155,152) !important; }
/* 메뉴 소분류(3Lv - 리포트 목록) */
section #MenuLayer .allmenu_wrapper .reportList_wrapper > li[isFolder="false"] {font-weight: normal; cursor: pointer; list-style: disc;}
section #MenuLayer .allmenu_wrapper .reportList_wrapper > li[isFolder="false"]:hover {font-weight: 900;}
section #MenuLayer .allmenu_wrapper .reportList_wrapper > li[report-struct="n"] { color: rgb(21,155,152) !important; }

footer .footer_bar{display:none; height: 1px; width: 100%; background: rgba(176, 166, 153, 100);}
footer .footer_info{display:none; line-height:30px; text-align:left; font-size:12px; color:rgba(157, 138, 105, 1); padding-left:20px;}

/* jQeury Dialog */
.ui-widget { padding: 0px;}
.ui-dialog .ui-dialog-titlebar { padding: 15px 1em; }
.ui-dialog .ui-dialog-titlebar-close { margin: -10px 15px 0px 0px; }
.ui-widget-header { background:  #21201E; border: none; color: #fff; font-weight: normal; font-size: 16px;}
.ui-widget.ui-widget-content { border: 1px solid #DEE2E5;}
.ui-dialog .ui-dialog-content { padding: 30px 20px;}
.layerMenuRow {border: 1px solid #DEE2E5;}
.layerMenuRow:hover {background: #f2f2f2; font-weight: bold;}
.layerMenuRow td:first-child { vertical-align: middle; border: 1px solid #DEE2E5; }
.layerMenuRow td[report-struct="n"] { color: rgb(21,155,152) !important; }
/* jQuery multiSelect */
.promptArea .ms-options-wrap > .ms-options > ul input[type="checkbox"] { top: 4px; }

/* jQuery DatePicker */
.elemWrapper .ui-datepicker-trigger {position: relative; top: 3px; right: 24px;}
#ui-datepicker-div { width: 240px;}
#ui-datepicker-div .ui-widget-header {background: none;}
#ui-datepicker-div .ui-datepicker-header .ui-state-hover {background: #d3d3d3; border:1px solid white; cursor: pointer;}
#ui-datepicker-div tbody .ui-state-active { background: #dfdfdf !important; }
#ui-datepicker-div tbody .ui-state-default { background: none; border: none; text-align: center;}
#ui-datepicker-div tbody .ui-state-hover {background: #d3d3d3; border:none;}
#ui-datepicker-div tbody .ui-state-disabled > span { color: #000 !important; font-weight: normal !important;}
#ui-datepicker-div .ui-datepicker-prev { height: 1.4em !important; }
#ui-datepicker-div .ui-datepicker-next { height: 1.4em !important; }
#ui-datepicker-div .ui-datepicker-prev > span { background:url(../../_custom/images/icon-arrow-prev-16.png) }
#ui-datepicker-div .ui-datepicker-next > span { background:url(../../_custom/images/icon-arrow-next-16.png) }
#ui-datepicker-div .ui-datepicker-title {line-height: 0px;}
#ui-datepicker-div .ui-datepicker-title select {font-size: 15px;}
#ui-datepicker-div .ui-datepicker-calendar > tbody td.ui-datepicker-week-end:first-child a { color: red !important; }
#ui-datepicker-div .ui-datepicker-calendar > tbody td.ui-datepicker-week-end:last-child a { color: blue !important; }
#ui-datepicker-div .ui-datepicker-calendar > tbody td > a {font-weight: normal !important; color: #000 !important;}

/* jQuery MonthPicker  */
.elemWrapper .ui-monthpicker-trigger {position: relative; top: 3px; right: 24px;}
#ui-monthpicker-div {width: 240px;}
#ui-monthpicker-div .ui-widget-header {background: none;}
#ui-monthpicker-div .ui-datepicker-header .ui-state-hover {background: #d3d3d3; border:1px solid white; cursor: pointer;}
#ui-monthpicker-div tbody .ui-state-active { background: #dfdfdf !important; }
#ui-monthpicker-div tbody .ui-state-default { background: none; border: none;}
#ui-monthpicker-div tbody .ui-state-hover {background: #d3d3d3; border:none;}
#ui-monthpicker-div .ui-datepicker-prev { height: 1.4em !important; }
#ui-monthpicker-div .ui-datepicker-next { height: 1.4em !important; }
#ui-monthpicker-div .ui-datepicker-prev > span { background:url(../../_custom/images/icon-arrow-prev-16.png) }
#ui-monthpicker-div .ui-datepicker-next > span { background:url(../../_custom/images/icon-arrow-next-16.png) }
#ui-monthpicker-div .ui-datepicker-title {line-height: 0px;}
#ui-monthpicker-div .ui-datepicker-title select {font-size: 15px;}
#ui-monthpicker-div .ui-datepicker-calendar > tbody td > a {font-weight: normal !important; color: #000 !important;}
#ui-monthpicker-div .ui-datepicker-calendar {margin: 0px;}

/* Report Search Dialog  */
#dialogReportSearchList, #dialogMyReportList, #dialogTeamReportList, #dialogBookMarkReportList, #dialogSystemManageReportList { font-size: 14px;}
#emptyList { width: 100%; height: 80%; font-size: 15px; font-weight: bold; text-align: center; line-height: 300px; border: 1px solid #DEE2E5;}
/* 즐겨찾기 알림 영역 */
#bookmark_notice {position: relative; top: 120px; width: 100%; text-align: center;}
#current_bookmark_status { background-color: rgb(176,166,153); border: 1px solid rgb(176,166,153); border-radius: 10px; padding: 5px 10px;
							 color: #fff; font-weight: bold; font-size: 13px; z-index: 1001; }

/* select2 Plugin Custom Css */   
span.select2-dropdown.select2-dropdown--below { font-size: 13px !important; }
    
   
  
    

